.div-hero {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    background-color: var(--footer-hero-background-color);
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--hero-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-activ-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



.bcg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0px;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform, cubic-bezier(.17, .67, .96, .06) 350ms, opacity 1000ms, background-color 6000ms;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 1);
    transform: scale(0) rotate(180deg) translate(-23px, 80px) skew(-20deg, -41deg);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;

    min-width: 528px;
    min-height: 581px;

    background-color: var(--primary-backgraund-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

