// portfolio-filter
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}



.portfolio-filter__item-button {
    padding: 6px 22px;
    border-radius: 4px;
}

.portfolio-filter__item-button_size {
    padding: 6px 25px;
}

.portfolio-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.portfolio-filter__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-filter__item-button {
    border: none;
}

.portfolio-filter__item-button,
.portfolio-filter__item-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__item-button:hover,
.portfolio-filter__item-button:focus {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// portfolio-projects
.portfolio-projects__item-secondary-title {
    color: var(--title-text-color);
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-projects__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-projects__item-overlay-description {
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 50px;
}

.portfolio-projects__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-projects__item:nth-child(3n + 3) {
    margin-right: 0;
}

.portfolio-projects__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-projects__item-container-text {
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.business__description {
    color: var(--primary-text-color);
}

.portfolio-projects__item-img {
    display: block;
}


.portfolio-projects__item-container-img {
    position: relative;
    overflow: hidden;
}

.portfolio-projects__item-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 63px 24px;
    color: var(--hero-text-color);
}

.portfolio__container-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}

.portfolio-projects__item-container-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-projects__item-link:hover .portfolio-projects__item-container-overlay,
.portfolio-projects__item-link:focus .portfolio-projects__item-container-overlay {
    opacity: 0.9;
}

.portfolio-projects__item-link:hover .portfolio-projects__item-container-overlay,
.portfolio-projects__item-link:focus .portfolio-projects__item-container-overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

