.bcg-team {
    background-color: var(--additional-background);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    
    & .team-list__item {
        
        background-color: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
  
    .team-list__item-title,
    .team-list__item-text {
        font-size: 16px;
        line-height: 1.18;
        letter-spacing: 0.03em;
        text-align: center;
    }

    .team-list__item-title {
        color: var(--title-text-color);
        font-weight: 500;
        margin-bottom: 10px;
    }

    .team-list__item-text {
        margin-bottom: 16px;
    }

    .team-list__item-container {
        padding: 30px 0;
    }

    .team-list__item-img {
        display: block;
    }
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .social__item {
        display: flex;
        .social__item-link {
            display: flex;
            color: var(--social-icons-color);
            padding: 12px;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
            .social__item-link:hover,
            .social__item-link:focus {
            color: #FFFFFF;
            background-color: var(--accent-color);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
            .social__item-svg {
            fill: currentColor;
        }
    }
    
    .social__item:not(:last-child) {
        margin-right: 10px;
    }
}


@media screen and (max-width: 1199px) {
    .title {
        font-size: 28px;
        line-height: 1.17;
    }

    .team-list {
        row-gap: 30px;
    }
}


@media screen and (min-width: 320px) {
    .team {
    padding-top: 60px;
    padding-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .team-list .team-list__item {
        width: calc((100% - 90px) / 4);
    }

    .business-list__item:not(:last-child) {
        margin-bottom: 0px;
    }

    .team {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}








// .social__item-link {
//     display: flex;
//     color: var(--social-icons-color);
//     padding: 12px;
//     border-radius: 50%;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social__item-link:hover,
// .social__item-link:focus {
//     color: #FFFFFF;
//     background-color: var(--accent-color);
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social__item-svg {
//     fill: currentColor;
// }
