body {
    font-family: 'Roboto', 'Arial', 'Helvetica', 'sans-serif';
    color: var(--primary-text-color);
    background-color: var(--primary-backgraund-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

ul,
li,
ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
