:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-hero-background-color: #2F303A;
    --primary-backgraund-color: #FFFFFF;
    --hero-text-color: #FFFFFF;
    --additional-background: #F5F4FA;
    --social-icons-color: #AFB1B8;
    --button-activ-color: #188CE8;
}
